body{
	font-family: 'Lemonada', cursive;
	background: #C9FFBF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.brand-name{
	font-family: 'Henny Penny', cursive;
}

.x{
	outline: none;
}

.title{
	font-family: 'Henny Penny', cursive;
	text-shadow: 2px 2px;;
}

.jumbotron{
	margin-top: 50px;
	background-image: url(https://i.pinimg.com/564x/2f/c2/5b/2fc25b9b0a0b12a1fe487c90125f5b62.jpg);
	background-size: cover;
    background-position: center;
}

/* *************************************Searchbar Animation***************************** */

input{
  border-style: none;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

/* *************************************Searchbar Animation***************************** */


.nav-item{
	margin-right: 5px;
}

.category{
	margin-bottom: 30px;
	margin-top: 50px;;
	font-family: 'Lemonada', cursive;
}

/* *************************************Card Animation***************************** */
  
.box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  .card{
    position: relative;
    width: 300px;
    height: 300px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 

  /* *************************************************************************** */

  .see-more{
    color: black;
    margin-top: 20px;
    border-radius: 50%;
  }

  .see-more:hover{
    color: white;
    text-decoration: none;
  }