body{
	font-family: 'Lemonada', cursive;
  background: #FFAFBD;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);   Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #ffc3a0, #FFAFBD);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: rgb(111,113,232);
  background: linear-gradient(90deg, rgba(111,113,232,1) 0%, rgba(189,84,233,1) 28%, rgba(196,117,218,1) 68%, rgba(237,244,245,1) 100%);
  /*background: rgb(195,196,230);
  background: linear-gradient(90deg, rgba(195,196,230,1) 0%, rgba(158,84,233,1) 29%, rgba(198,117,218,1) 68%, rgba(237,244,245,1) 100%);*/
}

.brand-name{
	font-family: 'Henny Penny', cursive;
}

.x{
	outline: none;
}

.title{
	font-family: 'Henny Penny', cursive;
	text-shadow: 2px 2px;;
}

.jumbo{
	margin-top: 50px;
	/*background-image: url(https://i.pinimg.com/564x/2f/c2/5b/2fc25b9b0a0b12a1fe487c90125f5b62.jpg);*/
  /*background-image: url(https://cdn1.vectorstock.com/i/1000x1000/97/20/gold-background-with-glitter-vector-20519720.jpg);*/
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/103/551/non_2x/vector-abstract-bokeh-and-glitter-background-illustration.jpg);
	background-size: cover;
  background-position: center;
}

/* *************************************Searchbar Animation***************************** */


.nav-item{
  margin-right: 5px;
}

#srch-term, .input-group-btn{
  margin: 2px;
  border: transparent;
  border-radius: 0.25rem;
}

.category{
	margin-bottom: 30px;
	margin-top: 50px;;
	font-family: 'Lemonada', cursive;
}

/* *************************************Card Animation***************************** */
  
.box{
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  .card{
    position: relative;
    width: 300px;
    height: 300px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 

  /* *************************************************************************** */

  .see-more{
    color: black;
    margin-top: 20px;
    border-radius: 50%;
  }

  .see-more:hover{
    color: black;
    text-decoration: none;
  }
#nextbtn{
  margin-top: 10px;
  background: transparent;
  padding: 5px;
  border-radius: .70rem;
  float: right
}
#nextbtn:hover{
  background: white;
  transform: scale(1.1);border: 4px solid grey;
}

footer{
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/103/551/non_2x/vector-abstract-bokeh-and-glitter-background-illustration.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color:#5454A0 ;*/
  color: black;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 5px;
}
footer a{
  color: black;
  padding: 5px;
  margin-bottom: 1.5em;
}

#scrollTopBtn{
  background-color: transparent;
  color: black; 
  border: 3px solid black;
  padding: 10px 10px; 
  display: none; position: fixed;
  width: 40px; height: 40px;
  cursor: pointer;
  bottom: 0; left: 45%;
  margin: 8px;
  z-index: 1;
}